@font-face {
    font-family: 'Pumpkin Pie Lattes';
    src: url('PumpkinPieLattes-Bold.woff2') format('woff2'),
        url('PumpkinPieLattes-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pumpkin Pie Lattes';
    src: url('PumpkinPieLattes.woff2') format('woff2'),
        url('PumpkinPieLattes.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

